.main {
  display: flex;
  min-height: 100vh;
  background-color: #161D28;
}

.image {
  width: 40%;
  background-image: url(../public/home_Background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.access {
  width: 60%;
  padding-left: 3vw;
}

.logo {
  margin-top: 5vh;
  rotate: 180deg;
}

.signUpButton {
  width: 10rem;
  color: white;
  font-family: "Montserrat" sans-serif;
  font-size: 1rem;
  font-weight:700;
  background-color: #40bbea;
  padding: 10px;
  border: 2px solid #40bbea;
    border-radius: 20px;
}

.signUpButton:hover {
  width: 10rem;
  color: #40bbea;
  font-family: "Montserrat" sans-serif;
  font-size: 1rem;
  font-weight:700;
  background-color: transparent;
  padding: 10px;
  border: 2px solid #40bbea;
    border-radius: 20px;
}

.signInButton {
  width: 10rem;
  color: #40bbea;
  font-family: "Montserrat" sans-serif;
  font-size: 1rem;
  font-weight:700;
  background-color: transparent;
  padding: 10px;
  border: 0.5px solid whitesmoke;
  border-radius: 20px;
}

.signInButton:hover {
  width: 10rem;
  color: white;
  font-family: "Montserrat" sans-serif;
  font-size: 1rem;
  font-weight:700;
  background-color: #40bbea;
  padding: 10px;
  border: 0.5px solid #40bbea;
  border-radius: 20px;
}
