.main {
  display: flex;
  min-height: 100vh;
  background-color: black;
}

.image {
  width: 60%;
  background-image: url(../public/matrix_blue_gif.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.access {
  width: 40%;
  padding-left: 3vw;
}

.logo {
  width: 10vw;
  margin-top: 3vh;
  rotate: 180deg;
}

.signUpButton {
  width: 10rem;
  color: white;
  font-family: "Montserrat" sans-serif;
  font-size: 1rem;
  font-weight:700;
  background-color: #40bbea;
  padding: 10px;
  border: 2px solid #40bbea;
    border-radius: 20px;
}

.signUpButton:hover {
  width: 10rem;
  color: #40bbea;
  font-family: "Montserrat" sans-serif;
  font-size: 1rem;
  font-weight:700;
  background-color: transparent;
  padding: 10px;
  border: 2px solid #40bbea;
  border-radius: 20px;
  transition: 0.5s;
}

.already {
  margin-top: 5vh;
}

.signInButton {
  width: 10rem;
  color: #0b5633;
  font-family: "Montserrat" sans-serif;
  font-size: 1rem;
  font-weight:700;
  background-color: transparent;
  padding: 10px;
  border: 0.5px solid #0b5633;
  border-radius: 20px;
}

.signInButton:hover {
  width: 10rem;
  color: white;
  font-family: "Montserrat" sans-serif;
  font-size: 1rem;
  font-weight:700;
  background-color: #0b5633;
  padding: 10px;
  border: 0.5px solid #0b5633;
  border-radius: 20px;
  transition: 0.5s;
}

.goBackBtn {
  margin: 0 10px;
  border: 1px solid white;
  border-radius: 5px;
}

.goBackBtn:hover {
  margin: 0 10px;
  background-color: white;
  border-radius: 5px;
}

.leftArrow {
  padding: 10px;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
}

.leftArrow:hover {
  color: #161D28;
  background-color: white;
}

.signModale {
  animation-duration: 1s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 20%;
    opacity: 0;
  }

  to {
    margin-left: 0%;
    opacity: 1;
  }
}

